.titleSec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  height: 100vh;
}
.title {
  font-weight: bold;
  font-size: 5rem;
}
.money {
  font-weight: 600;
  font-size: 1.4rem;
  margin-left: 1em;
}
.btnSec {
  position: absolute;
  right: 2em;
  display: flex;
}
.btn {
  border-radius: 3rem;
  padding: 0.5em 1em;
  background-color: rgb(155, 17, 17);
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  transition: all 150ms ease;
  display: flex;
  align-items: center;
}
.btn:hover {
  transform: scale(1.05);
}
.icon {
  margin-right: 0.2em;
  font-size: 2rem;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-basis: 30%;
}

.games {
  display: flex;
  align-items: flex-start;
  flex-basis: 70%;
}
