.header {
  height: 10%;
  background-color: #b87c4c;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.gamble {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  transition: all 200ms ease;
  display: flex;
  align-items: center;
  gap: 0.4em;
}
.gamble:hover {
  transform: scale(1.1);
}
.title {
  display: flex;
  align-items: center;
  gap: 1em;
}
.titleText {
  color: #f9f871;
  font-weight: bold;
  font-size: 2.4rem;
}
.selected {
  color: #a3cfcd;
}
.icon {
  font-size: 3rem;
  color: #f9f871;
}
