.container {
  width: 700px;
  height: 100%;
  background-color: yellow;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.timer {
  display: flex;
  align-items: center;
  height: 50px;
  margin: 10px auto 0 auto;
}

.count_num {
  font-size: 50px;
  font-weight: bold;
}

.text {
  font-size: 20px;
}
