.wrapper {
  display: flex;
  flex-direction: column;
  height: 90%;
  align-items: center;
  justify-content: center;
  position: relative;
}
.main {
  display: flex;
  flex-direction: row;
}
.inform {
  background-color: white;
  padding: 1em;
}
.img {
  width: 20em;
  height: 20em;
}
.destroyed {
  width: 20em;
  height: 20em;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.destroyedText {
  font-size: 3rem;
  font-weight: bold;
  color: #ed5e93;
}
.description {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 1em;
  padding: 1em;
}
.btn {
  border-radius: 2em;
  background-color: #00c9c8;
  color: white;
  font-size: 1.5rem;
  padding: 0.2em 0.5em;
}
